name: Lint

on:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    name: Run Linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@d73f6bcfc2b419b74f47075f8a487b40cc4680f8
        with:
          go-version-file: "go.mod"

      - name: Install dependencies
        run: go mod download

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@de73c35617a6db3340c5f0df4ebaec93a4c965ff
        with:
          args: --timeout=5m --fix

      - name: Check for uncommitted changes after formatting
        run: |
          git diff --exit-code || (echo "Detected unformatted files. Run 'make fmt' to format your code."; exit 1)
