name: Publish Docs

on:
  workflow_dispatch: {}
  push:
    branches: [main]
    paths:
      - docs/**
  release:
    types: [published]

permissions:
  contents: write
  actions: read

env:
  GO_VERSION: 1.25.x

jobs:
  build-docs:
    name: Publish Docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          fetch-depth: 0

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Set up Go
        uses: actions/setup-go@c0137caad775660c0844396c52da96e560aba63d
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Set executable permissions for script
        run: chmod +x ./scripts/build-tplprev.sh

      - name: Build tplprev
        run: |
          go mod download
          go clean -cache  # Clear build cache
          ./scripts/build-tplprev.sh

      - name: Setup python
        uses: actions/setup-python@2e3e4b15a884dc73a63f962bff250a855150a234
        with:
          python-version: 3.x
          cache: "pip"
          cache-dependency-path: build/mkdocs/docs-requirements.txt

      - run: echo "cache_id=$(date --utc '+%V')" >> "$GITHUB_ENV"

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - name: Install mkdocs
        run: |
          pip install -r build/mkdocs/docs-requirements.txt

      - name: Determine Mike Version and Aliases
        id: mike
        run: |
          if [[ "${{ github.event_name }}" == "release" ]]; then
            echo "version=${{ github.event.release.tag_name }}" >> "$GITHUB_OUTPUT"
            echo "aliases=latest" >> "$GITHUB_OUTPUT"
          else
            echo "version=dev" >> "$GITHUB_OUTPUT"
          fi

      - name: Build and Deploy
        run: |
          if [ -n "${{ steps.mike.outputs.aliases }}" ]; then
            mike deploy \
              --config-file build/mkdocs/mkdocs.yaml \
              --push \
              --update-aliases "${{ steps.mike.outputs.version }}" "${{ steps.mike.outputs.aliases }}"
          else
            mike deploy \
              --config-file build/mkdocs/mkdocs.yaml \
              --push \
              "${{ steps.mike.outputs.version }}"
          fi
