name: Release Dev Images

on:
  workflow_dispatch:
    inputs:
      dry-run:
        description: "Run in test mode without publishing artifacts"
        required: false
        default: false
        type: boolean
  push:
    branches:
      - main
    paths:
      - cmd/**
      - internal/**
      - pkg/**
      - go.mod
      - go.sum
      - main.go

permissions:
  contents: read
  packages: write

jobs:
  test:
    uses: ./.github/workflows/test.yaml
    permissions:
      contents: read

  build:
    needs: test
    uses: ./.github/workflows/build.yaml
    with:
      build-type: dev
      dry-run: ${{ inputs.dry-run }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
