name: Push to main

on:
  workflow_dispatch: {}
  push:
    branches:
      - main

permissions:
  contents: read
  actions: read
  packages: write
  id-token: write

env:
  GO_VERSION: 1.24.x

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@c4c114188661c0fa735e5b938764519fc6e8efa9
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Build
        run: ./build.sh

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2
      - name: Set up Go
        uses: actions/setup-go@c4c114188661c0fa735e5b938764519fc6e8efa9
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Test
        run: go test -v -coverprofile coverage.out -covermode atomic ./...
      - name: Publish coverage
        uses: codecov/codecov-action@3440e5ef70c638a9f44602a80ab017feee1309fe
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  publish:
    needs:
      - build
      - test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@afeb29a6e0d7d6258844ecabe6eba67d13443680

      - name: Login to Docker Hub
        uses: docker/login-action@327cd5a69de6c009b9ce71bce8395f28e651bf99
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Login to GHCR
        uses: docker/login-action@327cd5a69de6c009b9ce71bce8395f28e651bf99
        with:
          registry: ghcr.io
          username: ${{ secrets.BOT_USERNAME }}
          password: ${{ secrets.BOT_GHCR_PAT }}

      - name: Build and push to Docker Hub
        uses: docker/build-push-action@84ad562665bb303b549fec655d1b64f9945f3f91
        with:
          context: .
          file: dockerfiles/Dockerfile.self-contained
          platforms: linux/amd64
          push: true
          tags: nickfedor/watchtower:latest-dev

      - name: Build and push to GHCR
        uses: docker/build-push-action@84ad562665bb303b549fec655d1b64f9945f3f91
        with:
          context: .
          file: dockerfiles/Dockerfile.self-contained
          platforms: linux/amd64
          push: true
          tags: ghcr.io/nicholas-fedor/watchtower:latest-dev
