name: Release (Dev)

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths:
      - cmd/**
      - internal/**
      - pkg/**
      - go.mod
      - go.sum
      - main.go

jobs:
  Test:
    uses: ./.github/workflows/test.yaml
    permissions:
      contents: read

  Build-and-Push:
    needs:
      - Test
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@09d2acae674a48949e3602304ab46fd20ae0c42f
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@05340d1c670183e7caabdb33ae9f1c80fae3b0c2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@622913496df23a5293cfb3418e5836ee4dd28f3a

      - name: Login to Docker Hub
        uses: docker/login-action@3d100841f68d4548bf57e52eb27bd33ec5069f55
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GHCR
        uses: docker/login-action@3d100841f68d4548bf57e52eb27bd33ec5069f55
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker images
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          file: dockerfiles/Dockerfile.dev-self-contained
          platforms: linux/amd64
          push: true
          tags: |
            nickfedor/watchtower:latest-dev
            ghcr.io/nicholas-fedor/watchtower:latest-dev
