name: Release (Production)

on:
  workflow_dispatch:
    inputs:
      dry-run:
        description: "Run in test mode without publishing artifacts"
        required: false
        default: false
        type: boolean
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

jobs:
  test:
    uses: ./.github/workflows/test.yaml
    permissions:
      contents: read

  build:
    needs: test
    uses: ./.github/workflows/build.yaml
    with:
      build-type: prod
      dry-run: ${{ inputs.dry-run }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  update-go-docs:
    needs: [test, build]
    if: ${{ !inputs.dry-run }}
    permissions:
      contents: read
    uses: ./.github/workflows/update-go-docs.yaml
