---
name: Run Security Checks
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths:
      - cmd/**
      - pkg/**
      - internal/**
      - main.go
      - go.mod
      - go.sum

permissions:
  contents: read
  actions: read
  pull-requests: read
  security-events: write

env:
  OUTPUT_FILE: results.sarif

jobs:
  gosec:
    name: Golang Security Checker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Run Gosec Security Scanner
        uses: securego/gosec@424fc4cd9c82ea0fd6bee9cd49c2db2c3cc0c93f # v2.22.11
        with:
          args: "-no-fail -fmt sarif -out results.sarif ./..."
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@45cbd0c69e560cd9e7cd7f8c32362050c9b7ded2 # v4
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: results.sarif

  govulncheck:
    name: govulncheck
    runs-on: ubuntu-latest
    steps:
      - id: govulncheck
        uses: nicholas-fedor/govulncheck-action@5b70be9840cc5dc2795edf8b75529487fc317807
        with:
          output-format: sarif
          output-file: ${{ env.OUTPUT_FILE }}
          go-version-file: "go.mod"
          go-version-input: ""

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@45cbd0c69e560cd9e7cd7f8c32362050c9b7ded2 # v4
        with:
          sarif_file: ${{ env.OUTPUT_FILE }}
