---
name: Run Security Checks
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths:
      - cmd/**
      - pkg/**
      - internal/**
      - main.go
      - go.mod
      - go.sum

permissions:
  contents: read
  actions: read
  pull-requests: read
  security-events: write

env:
  OUTPUT_FILE: results.sarif

jobs:
  gosec:
    name: Golang Security Checker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Run Gosec Security Scanner
        uses: securego/gosec@6be2b51fd78feca86af91f5186b7964d76cb1256 # v2.22.10
        with:
          args: "-no-fail -fmt sarif -out results.sarif ./..."
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@fe4161a26a8629af62121b670040955b330f9af2 # v4
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: results.sarif

  govulncheck:
    name: govulncheck
    runs-on: ubuntu-latest
    steps:
      - id: govulncheck
        uses: nicholas-fedor/govulncheck-action@5d809893c02da5117a03d036243a91b3888b7d1e
        with:
          output-format: sarif
          output-file: ${{ env.OUTPUT_FILE }}
          go-version-file: "go.mod"
          go-version-input: ""

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@fe4161a26a8629af62121b670040955b330f9af2 # v4
        with:
          sarif_file: ${{ env.OUTPUT_FILE }}
