name: Run tests and upload coverage

on:
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    name: Run tests and collect coverage
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - 1.25.x
        platform:
          - macos-latest
          - windows-latest
          - ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@3a0c2c82458cbb45a3cbfeeb2b91ce8f85420560
        with:
          check-latest: true
          go-version: ${{ matrix.go-version }}
          cache: true
          cache-dependency-path: "**/go.sum"

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: |
          go test -race -p 1 -coverprofile="coverage.out" ./...

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@96b38e9e60ee60a8c3911f4612407bba2f9195fb
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
