name: Run tests and upload coverage

on:
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    name: Run tests and collect coverage
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - 1.25.x
        platform:
          - macos-latest
          - windows-latest
          - ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@faf52423ec0d44c58f68e83b614bfcd99dded66f
        with:
          check-latest: true
          go-version: ${{ matrix.go-version }}
          cache: true
          cache-dependency-path: "**/go.sum"

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: |
          go test -race -p 1 -coverprofile="coverage.out" ./...

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@9b6d1f84bde660b0f784003009b1f0aa4663cdeb
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
