name: Refresh pkg.go.dev

on:
  workflow_call:

permissions:
  contents: read

jobs:
  renew-docs:
    name: Refresh pkg.go.dev
    runs-on: ubuntu-latest
    steps:
      - name: Pull new module version
        uses: nicholas-fedor/go-proxy-pull-action@c1e755b4efcaeffca7f5331497609c6afea05967
