name: Refresh pkg.go.dev

on:
  - workflow_dispatch
  - workflow_call

permissions:
  contents: read

jobs:
  renew-docs:
    name: Refresh pkg.go.dev
    runs-on: ubuntu-latest
    steps:
      - name: Pull new module version
        uses: nicholas-fedor/go-proxy-pull-action@c7a2ab47633a829e9e7629fda962c23ee7117337
